#banner {
  min-height: 0px;
}

.page-header {
	margin: 0px;
}

.space-around{
	margin: 1px;
}

.model-footer{
	border-top: 0px;
}

.top15{
	margin-top: 15px;
}

 .compassContainer{
     transform-origin: 50% 50%;
     -webkit-transform-origin: 50% 50%;
     -moz-transform-origin: 50% 50%;
 }

.block_img{
    margin-left: auto;
    margin-right: auto;
    display: block;
}