.modal-footer {   border-top: 0px; }

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }

.bot5 { margin-bottom:5px; }
.bot7 { margin-bottom:7px; }
.bot10 { margin-bottom:10px; }
.bot15 { margin-bottom:15px; }
.bot17 { margin-bottom:17px; }
.bot30 { margin-bottom:30px; }